// @font-face {
// 	font-family: 'Proxima Nova';
// 	src: url('../fonts/proximanova/ProximaNova-Bold.eot');
// 	src: url('../fonts/proximanova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/proximanova/ProximaNova-Bold.woff') format('woff'),
// 		url('../fonts/proximanova/ProximaNova-Bold.ttf') format('truetype');
// 	font-weight: bold;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Proxima Nova';
// 	src: url('../fonts/proximanova/ProximaNova-Thin.eot');
// 	src: url('../fonts/proximanova/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/proximanova/ProximaNova-Thin.woff') format('woff'),
// 		url('../fonts/proximanova/ProximaNova-Thin.ttf') format('truetype');
// 	font-weight: 100;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Proxima Nova';
// 	src: url('../fonts/proximanova/ProximaNova-Extrabld.eot');
// 	src: url('../fonts/proximanova/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/proximanova/ProximaNova-Extrabld.woff') format('woff'),
// 		url('../fonts/proximanova/ProximaNova-Extrabld.ttf') format('truetype');
// 	font-weight: 900;
// 	font-style: normal;
// }

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova/ProximaNova-Regular.eot');
	src: url('../fonts/proximanova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/proximanova/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/proximanova/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
