@font-face {
    font-family: 'century_schoolbook';
    src: url('../fonts/centuryschoolbook/centuryschoolbook-webfont.woff2') format('woff2'),
         url('../fonts/centuryschoolbook/centuryschoolbook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}